* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
html {
  background-color: #242424;
  font-family: 'Alice', 'Hina Mincho', serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input, textarea, select, button {
  font-family: inherit;
}
canvas {
  display: block;
  width: 100%;
}
[data-phavuer-game] {
  position: relative;
}
.Container {
  width: 1280px;
}
.Container.fullscreen {
  width: 100vw;
}
.FullscreenButton {
  display: block;
  width: 32px;
  margin: 10px 0 10px auto;
}
.FullscreenButton img {
  display: block;
  opacity: 0.2;
}
@media (max-width: 1300px) {
  .FullscreenButton {
    display: none;
  }
}
