* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
html {
  background-color: #242424;
}
canvas {
  display: block;
  width: 100%;
}
[data-phavuer-game] {
  position: relative;
}
