* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
html {
  background-color: #242424;
  font-family: 'Alice', 'Hina Mincho', serif;
}
input, textarea, select, button {
  font-family: inherit;
}
canvas {
  display: block;
  width: 100%;
}
[data-phavuer-game] {
  position: relative;
}
